* {
	box-sizing: border-box;
	user-select: none;
}

body {
	font-size: 1rem;
	margin: 0;
	font-family: Impact;
	overflow-x: hidden;
}

img {
	width: 100%;
}

p {
	margin: 0 0 1em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0 0 1em;
	line-height: 1.2;
	text-transform: uppercase;
}

button,
li,
img {
	cursor: pointer;
}

input {
	font-family: inherit;
	padding: 10px;
	border-radius: 10px;
}
