.main-layout {
	display: grid;
	grid-template-columns: minmax(auto, 20px) minmax(300px, 1fr) minmax(auto, 20px);
}

.main-layout > * {
	grid-column: 2;
}

body.show-meme-editor {
	background-image: url(../../img/background1.png);
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: inherit;
	background-blend-mode: color-dodge;
	background-size: cover;
	height: 100vh;
	overflow-y: hidden;
}
