body.show-meme-editor {
	background-image: url(../../img/background1.png);
	background-repeat: no-repeat;
	background-blend-mode: color-dodge;
	overflow-y: auto;
	background-size: cover;
}

body.show-meme-editor .meme-editor {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	gap: max(30px, 5vw);
	margin: 30px 0;
}

.meme-editor {
	display: none;
}

.canvas-container {
	width: 450px;
	height: 450px;
	border-radius: var(--btn-border-radius);
	overflow: hidden;
	box-shadow: 0px 0px 0px 4px #bbc4;
}

.editor-options {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	gap: 15px;
	flex: 1;

	min-width: 335px;
	max-width: 450px;
	padding: clamp(15px, 3vw, 40px);

	box-shadow: 1px 5px 0 #ebeef21a, inset 0 5px 0 #ebeef21a;
	border-radius: 30px;
	background-color: var(--grey-clr1);
}

.editor-options * {
	border-radius: var(--btn-border-radius);
	border: none;
	font-size: 20px;
}

.editor-options > div:first-of-type {
	display: flex;
	justify-content: center;
	color: var(--grey-clr-3);
	gap: 15px;
	width: 50%;
}

.editor-options > div:first-of-type > * {
	color: var(--grey-clr-3);
}

.editor-options input[name='meme-txt'] {
	background-color: var(--grey-clr-1);
	width: 90%;
	font-size: 15px;
	padding: 10px;
	border-radius: 28px;
	box-shadow: 0px 4px 0 #bbc4d1, inset 0 5px 0 var(--grey-clr-3);
}

.text-style-continer {
	display: flex;
	flex-direction: column;
	gap: 15px;
	position: relative;
	width: 100%;
	padding: clamp(10px, 1vw, 20px);
	background-color: var(--blue-clr-1);
}

.text-style-continer > * {
	display: flex;
	justify-content: space-between;
	gap: 15px;
}

.text-style-continer select {
	flex: 3;

	text-align: center;
	text-transform: uppercase;
}

.text-style-continer > div > * {
	font-family: var(--poppins-bold);
	background-color: var(--grey-clr-3);
	box-shadow: 1px 3px 0px 0px rgb(0 0 0 / 24%), inset 0 3px 0 var(--btn-shadow);
}

.editor-options button,
label {
	flex: 1;
	height: clamp(40px, 4.5vh, 50px);
}

.text-style-continer .fontsize {
	position: relative;
}

.fontsize-plus::after {
	content: '+';
	position: absolute;
	top: 5px;
	font-size: 1.25rem;
}

.fontsize-minus::after {
	content: '-';
	position: absolute;
	top: 5px;
	font-size: 1.25rem;
}

.text-style-continer label {
	display: flex;
	justify-content: center;
	align-items: center;
}

input[type='color'] {
	position: fixed;
	opacity: 0;
}

label[name='textColor']::before {
	content: '\f53f';
	font-family: fa;
}

label[name='strokeColor'] {
	position: relative;
}

label[name='strokeColor']::after {
	content: '_';
	position: absolute;
	bottom: 0;
}

.editor-options .action {
	display: flex;
	flex-wrap: wrap;
	gap: 15px;
}

.editor-options .action > *:not(.file-input) {
	display: flex;
	justify-content: center;
	align-items: center;
	flex: 1;
	flex-basis: 45%;
	cursor: pointer;
	color: var(--grey-clr-3);
	padding: 0 10px;
}

.editor-options .action > .btn-facebook-share {
	box-shadow: 1px 3px 0 #165c9c, inset 0 5px 0 var(--btn-shadow);
	background-color: #1e7cd3;
}

.editor-options .action > .a-download {
	box-shadow: 1px 3px 0 #632687, inset 0 5px 0 var(--btn-shadow);
	background-color: #8f44bb;
	text-decoration: none;
}

.editor-options .action > .btn-upload {
	box-shadow: 1px 3px 0 #0a7e76, inset 0 5px 0 var(--btn-shadow);
	background-color: #0fa79d;
}

.editor-options .action > .btn-save {
	box-shadow: 1px 3px 0 #1b8432, inset 0 5px 0 var(--btn-shadow);
	background-color: #25ab42;
}

.btn-save::before {
	content: 'save';
}

.btn-save:disabled::before {
	content: 'image saved';
}

.editor-options .action .btn-save:disabled {
	background-color: grey;
	cursor: default;
}

.editor-options .plus {
	box-shadow: 1px 3px 0 #015d33, inset 0 5px 0 var(--btn-shadow);
	background-image: linear-gradient(-38deg, #42eb5c 0%, #37b34a 100%);
}

.editor-options .trash-can {
	box-shadow: 1px 3px 0 #8c0606, inset 0 5px 0 var(--btn-shadow);
	background-image: linear-gradient(-38deg, #cf1d37 0%, #cf1d37 1%, #f05036 100%);
}

.editor-options .arrows-up-down {
	box-shadow: 1px 3px 0 #048b97, inset 0 5px 0 var(--btn-shadow);
	background-image: linear-gradient(-38deg, #66c4dc 0%, #40b1ce 50%, #0c98bb 100%);
}
