header {
	margin: 0 15px 15px;
	padding: 10px;

	background-image: linear-gradient(-86deg, #33be6d 0%, #0c98b9 100%);
	border-radius: 37px;
	color: var(--grey-clr-2);
	font-family: var(--poppins-med);
}

header nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.logo {
	font-size: 30px;
	text-transform: uppercase;
}

.main-menu {
	display: flex;
	list-style: none;
	padding-inline-start: 0px;
}

.main-menu > li:first-child {
	margin-inline-end: 30px;
}

.main-menu > li {
	padding: 5px 20px;
	border-radius: 20px;
	text-transform: capitalize;
}

.main-menu > li.active {
	background-color: var(--grey-clr-2);
	color: var(--blue-clr-2);
}

.btn-ham {
	display: none;
}

/* when menu-open */
body.menu-open .btn-ham {
	background-color: transparent;
	border: none;
}

body.menu-open .main-menu > * {
	justify-self: start;
	align-self: center;

	padding: 5px;
	width: fit-content;
	height: fit-content;
	text-align: center;
}

body.menu-open .main-menu {
	transform: translateX(0);
	transition: transform 1s;
}
