/* FONTS */

/* POPPINS */
@font-face {
	font-family: 'poppins light';
	src: url(../../fonts/poppins/Poppins-Light.ttf);
}

@font-face {
	font-family: 'poppins medium';
	src: url(../../fonts/poppins/Poppins-Medium.ttf);
}

@font-face {
	font-family: 'poppins semi-bold';
	src: url(../../fonts/Poppins/Poppins-SemiBold.ttf);
}

/* ICONS */
@font-face {
	font-family: fa;
	src: url(../../fonts/fontAwesome/fa-solid-900.ttf);
}

.fa::before {
	font-family: fa;
}

.fa.align-center::before {
	content: '\f037';
}

.fa.align-right::before {
	content: '\f038';
}

.fa.align-left::before {
	content: '\f036';
}

.fa.plus::before {
	content: '\2b';
}

.fa.arrows-up-down::before {
	content: '\f07d';
}

.fa.trash-can::before {
	content: '\f2ed';
}

.fa.bars::before {
	content: '\f0c9';
}

.fa.xmark::before {
	content: '\f00d';
}

.fa.magnifying-glass::before {
	content: '\f002';
}
