/* FONTS */

/* Cabin */
@font-face {
	font-family: cabin;
	src: url(/fonts/Cabin/Cabin-Regular.ttf);
}

/* AMATIC_CS */
@font-face {
	font-family: amatic-regular;
	src: url(/fonts/Amatic_SC/AmaticSC-Regular.ttf);
}
@font-face {
	font-family: amatic-bold;
	src: url(/fonts/Amatic_SC/AmaticSC-Bold.ttf);
}

/* FREDOKA */
@font-face {
	font-family: fredoka;
	src: url(/fonts/Fredoka/Fredoka-Regular.ttf);
}

/* Rubik */
@font-face {
	font-family: rubik;
	src: url(/fonts/Rubik/RubikWetPaint-Regular.ttf);
}

/* ICONS */
@font-face {
	font-family: fa;
	src: url(/fonts/fontAwesome/fa-solid-900.ttf);
}

.fa::before {
	font-family: fa;
}

.fa.align-center::before {
	content: '\f037';
}

.fa.align-right::before {
	content: '\f038';
}

.fa.align-left::before {
	content: '\f036';
}

.fa.plus::before {
	content: '\2b';
}

.fa.minus::before {
	content: '\f068';
}

.fa.palette::before {
	content: '\f53f';
}

.fa.arrow-down-arrow-up::before {
	content: '\f883';
}

.fa.trash-can::before {
	content: '\f2ed';
}

.fa.bars::before {
	content: '\f0c9';
}

.fa.xmark::before {
	content: '\f00d';
}
